<h1>Home Page</h1>
<p>Rankings/Topics</p>

<form action="/" method="POST"> 
   
         ${data.map(ranking => {
          return `<p>At 
                    ${ranking.topic} I am ${ranking.ranking}.
                    
                        <select name="${ranking.topic}">
                            ${statusData.map(status => `<option value="${status.id}" ${status.status_id === status.id ? 'selected' : ''}>${status.ranking}</option>`).join('')}
                        </select>
                    
                </p>`
         }).join('')}
        
    <button type="submit">Submit Data</button>
</form>